docs/publish/html/schemas/inca.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
        targetNamespace = "http://inca.sdsc.edu/dataModel/inca_2.0"
        xmlns:in = "http://inca.sdsc.edu/dataModel/inca_2.0"
        xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
        elementFormDefault = "unqualified">

	<element name = "inca">
		<complexType>
			<sequence>
				<element name = "repositories">
					<complexType>
						<sequence>
							<element name = "repository" type = "string" minOccurs = "0" maxOccurs = "unbounded"/>
						</sequence>
					</complexType>
				</element>
				<element name = "resourceConfig" type = "string"/>
				<element name = "suites">
					<complexType>
						<sequence>
							<element name = "suite" type = "string" minOccurs = "0" maxOccurs = "unbounded"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>
