xsede/xml/schemas/lead.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://mds.teragrid.org/2007/02/lead"
	 xmlns:ld = "http://mds.teragrid.org/2007/02/lead"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "unqualified">
	<element name = "leadDefinition" type = "ld:leadDefinition"/>
	<complexType name = "leadDefinition">
		
		
		<sequence>
		  <!-- Name of LEAD developer to contact regarding this schema -->
			<element name = "developerName" type = "string"/>
		  <!-- Email address of LEAD developer to contact regarding this schema -->
			<element name = "developerEmail" type = "string" minOccurs = "0"/>
		  <!-- LEAD services, e.g. wgram, gridftp -->
			<element name = "services">
				<complexType>
					<sequence>
						<element name = "service" type = "ld:leadEndpoint" maxOccurs = "unbounded"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name = "leadEndpoint">
		<sequence>
		  <!-- Name of CTSS kit that contains this service (empty if service is not production) -->
			<element name = "kitName" type = "string" minOccurs = "0"/>
		  <!-- Version of CTSS kit that contains this service (empty if service is not production) -->
			<element name = "kitVersion" type = "string" minOccurs = "0"/>
      <!-- Originating host where service is invoked from -->
			<element name = "resource" type = "string"/>
			<choice>
				<element name = "job">
					<complexType>
						<sequence>
              <!-- Registered endpoint, e.g., http://tg-login.sdsc.edu:8443 -->
							<element name = "endpoint" type = "string"/>
              <!-- Number of CPUs used typically -->
							<element name = "numCPUs" type = "string"/>
              <!-- What directory does the application execute from -->
							<element name = "workingDir" type = "string"/>
						</sequence>
					</complexType>
				</element>
				<element name = "transfer">
					<complexType>
						<sequence>
		          <!-- URL for destination directory for transfer, 
               e.g. gsiftp://gridftp-abe.ncsa.teragrid.org:2812/cfs/scratch/ -->
							<element name = "destURL" type = "string"/>
		          <!-- (3rd party transfers) URL for source directory for transfer, 
               e.g. gsiftp://gridftp-abe.ncsa.teragrid.org:2812/cfs/scratch/ -->
							<element name = "sourceURL" type = "string" minOccurs = "0"/>
						</sequence>
					</complexType>
				</element>
			</choice>
		</sequence>
	</complexType>
</schema>
