etc/ctss-kit.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:element name = "kit">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "service" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "package" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
			<xsd:attribute name = "name" type = "xsd:string"/>
			<xsd:attribute name = "version" type = "xsd:string"/>
			<xsd:attribute name = "release" type = "xsd:string"/>
			<xsd:attribute name = "type" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "package">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "name"/>
				<xsd:element ref = "version" minOccurs = "0"/>
				<xsd:element ref = "variable" minOccurs = "0"/>
				<xsd:element ref = "type" minOccurs = "0"/>
				<xsd:element ref = "handleKey" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "version" type = "xsd:string"/>
	<xsd:element name = "handleKey" type = "xsd:string"/>
	<xsd:element name = "default" type = "xsd:string"/>
	<xsd:element name = "name" type = "xsd:string"/>
	<xsd:element name = "type" type = "xsd:string"/>
	<xsd:element name = "variable">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attribute name = "name" type = "xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "service">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "name"/>
				<xsd:element ref = "version" minOccurs = "0"/>
				<xsd:element ref = "type" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
