pubs/docs/src/schemas/reporter.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://inca.sdsc.edu/dataModel/report_2.1"
	 xmlns:rep = "http://inca.sdsc.edu/dataModel/report_2.1"
	 xmlns:inca = "http://inca.sdsc.edu/dataModel/util_2.0"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "unqualified">
	<import namespace = "http://inca.sdsc.edu/dataModel/util_2.0"/>
	<element name = "report">
		<complexType>
			<sequence>
				<element name = "gmt" type = "dateTime"/>
				<element name = "hostname" type = "string"/>
				<element name = "name" type = "string"/>
				<element name = "version" type = "string"/>
				<element name = "args" type = "inca:args"/>
				<element name = "log" minOccurs = "0">
					<complexType>
						<sequence>
							<element name = "debug" type = "inca:logEntry" minOccurs = "0" maxOccurs = "unbounded"/>
							<element name = "error" type = "inca:logEntry" minOccurs = "0" maxOccurs = "unbounded"/>
							<element name = "info" type = "inca:logEntry" minOccurs = "0" maxOccurs = "unbounded"/>
							<element name = "system" type = "inca:logEntry" minOccurs = "0" maxOccurs = "unbounded"/>
							<element name = "warn" type = "inca:logEntry" minOccurs = "0" maxOccurs = "unbounded"/>
						</sequence>
					</complexType>
				</element>
				<element name = "body" type = "inca:body"/>
				<element name = "exitStatus" type = "inca:exitStatus"/>
				<element name = "help" minOccurs = "0">
					<complexType>
						<sequence>
							<element name = "name" type = "string"/>
							<element name = "version" type = "string"/>
							<element name = "description" type = "string"/>
							<element name = "url" type = "string"/>
							<element name = "argDescription" minOccurs = "0" maxOccurs = "unbounded">
								<complexType>
									<sequence>
										<element name = "ID" type = "string"/>
										<element name = "accepted" type = "string"/>
										<element name = "description" type = "string"/>
										<element name = "default" type = "string"/>
									</sequence>
								</complexType>
							</element>
							<element name = "dependency" minOccurs = "0" maxOccurs = "unbounded">
								<complexType>
									<sequence>
										<element name = "ID" type = "string"/>
									</sequence>
								</complexType>
							</element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>



</schema>
