pubs/docs/src/schemas/statusReport.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
   targetNamespace = "http://inca.sdsc.edu/consumer/statusReport_2.0"
   xmlns:sr = "http://inca.sdsc.edu/consumer/statusReport_2.0"
   elementFormDefault = "unqualified">

  <xsd:element name = "statusReport">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name = "graph" type = "sr:graph" maxOccurs = "unbounded"/>
        <xsd:element name = "width" type = "xsd:integer"/>
        <xsd:element name = "height" type = "xsd:integer"/>   
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name = "graph">
    <xsd:sequence>
      <xsd:element name = "series" type = "sr:series" maxOccurs = "unbounded"/>
      <xsd:element name = "title" type = "xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="series">
    <xsd:sequence>
      <xsd:element name = "nickname" type = "xsd:string"/>
      <xsd:element name = "resource" type = "xsd:string"/>
      <xsd:element name = "label" type = "xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
