pubs/docs/src/schemas/subscription.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://inca.sdsc.edu/dataModel/subscription_2.0"
	 xmlns:sub = "http://inca.sdsc.edu/dataModel/subscription_2.0"
	 xmlns:inca = "http://inca.sdsc.edu/dataModel/util_2.0"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "unqualified">
	<import namespace = "http://inca.sdsc.edu/dataModel/util_2.0"/>
	<element name = "subscription">
		<complexType>
			<sequence>
				<element name = "action" type = "inca:action"/>
				<element ref = "sub:reporterGroup" maxOccurs = "unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name = "reporterGroup">
		<complexType>
			<sequence>
				<element name = "schedule" type = "inca:schedule"/>
				<element name = "reporter" type = "inca:reportSeries"/>
			</sequence>
		</complexType>
	</element>
</schema>