pubs/docs/src/schemas/suiteExpanded.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://inca.sdsc.edu/suiteExpanded_1.0"
	 xmlns:ste = "http://inca.sdsc.edu/suiteExpanded_1.0"
	 xmlns:inca = "http://inca.sdsc.edu/util_1.0"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<import namespace = "http://inca.sdsc.edu/util_1.0"/>
	<element name = "suiteExpanded">
		<complexType>
			<sequence>
				<element ref = "ste:reportSeriesConfigs"/>
				<element name = "name" type = "string"/>
				<element name = "guid" type = "string"/>
				<element name = "description" type = "string"/>
				<element name = "version" type = "integer" minOccurs = "0"/>
			</sequence>
		</complexType>
	</element>
	<element name = "reportSeriesConfigs">
		<complexType>
			<sequence>
				<element ref = "ste:reportSeriesConfig"/>
			</sequence>
		</complexType>
	</element>
	<element name = "reportSeriesConfig">
		<complexType>
			<sequence>
				<element ref = "inca:acceptedOutput" minOccurs = "0"/>
				<element ref = "inca:reporterSeries"/>
				<element ref = "inca:schedule"/>
			</sequence>
		</complexType>
	</element>
</schema>