pubs/docs/src/schemas/suite.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:element name = "suite">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "reporter" maxOccurs = "unbounded"/>
				<xsd:element ref = "resourceSet" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "set">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name = "resources">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice>
					<xsd:element ref = "name"/>
					<xsd:element ref = "xpath"/>
				</xsd:choice>
				<xsd:element ref = "accepted" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "accepted">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "body" minOccurs = "0"/>
				<xsd:element ref = "exitMessage" minOccurs = "0"/>
				<xsd:element ref = "exitStatus" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "method">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name = "reporter">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "uri"/>
				<xsd:element ref = "niced" minOccurs = "0"/>
				<xsd:element ref = "inputs" minOccurs = "0"/>
				<xsd:element ref = "timeout" minOccurs = "0"/>
				<xsd:element ref = "execute" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "execute">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "schedule"/>
				<xsd:element ref = "resources" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "uri" type = "xsd:string"/>
	<xsd:element name = "niced" type = "xsd:string"/>
	<xsd:element name = "inputs">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "input" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "timeout">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "resource" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "input">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "name"/>
				<xsd:element ref = "value"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "name" type = "xsd:string"/>
	<xsd:element name = "value" type = "xsd:string"/>
	<xsd:element name = "resource">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "name"/>
				<xsd:element ref = "value"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "setup">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name = "cleanup">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name = "schedule">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref = "now"/>
				<xsd:element ref = "continuous"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "resourceSet">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "name"/>
				<xsd:element ref = "xpath"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "schedulerAndArgs"/>
	<xsd:element name = "xpath" type = "xsd:string"/>
	<xsd:element name = "body"/>
	<xsd:element name = "exitMessage" type = "xsd:string"/>
	<xsd:element name = "exitStatus" type = "xsd:boolean"/>
	<xsd:element name = "now">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name = "continuous">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref = "every"/>
				<xsd:element ref = "at"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "every">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "minutes"/>
				<xsd:element ref = "hours"/>
				<xsd:element ref = "days"/>
				<xsd:element ref = "weeks"/>
				<xsd:element ref = "months"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "at">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "minute"/>
				<xsd:element ref = "hour"/>
				<xsd:element ref = "dayOfMonth"/>
				<xsd:element ref = "month"/>
				<xsd:element ref = "dayOfWeek"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "dayOfMonth" type = "xsd:positiveInteger"/>
	<xsd:element name = "months" type = "xsd:positiveInteger"/>
	<xsd:element name = "dayOfWeek" type = "xsd:string"/>
	<xsd:element name = "minutes" type = "xsd:positiveInteger"/>
	<xsd:element name = "hours" type = "xsd:positiveInteger"/>
	<xsd:element name = "hour" type = "xsd:positiveInteger"/>
	<xsd:element name = "month" type = "xsd:positiveInteger"/>
	<xsd:element name = "minute" type = "xsd:positiveInteger"/>
	<xsd:element name = "days" type = "xsd:positiveInteger"/>
	<xsd:element name = "weeks" type = "xsd:positiveInteger"/>
</xsd:schema>