docs/src/schemas/all2all.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://inca.sdsc.edu/dataModel/all2all_2.0"
	 xmlns:aa = "http://inca.sdsc.edu/dataModel/all2all_2.0"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "unqualified">

	<element name = "all2allSummaries">
		<complexType>
			<sequence>
				<element name = "resources" type="aa:resources" />
			</sequence>
		</complexType>
	</element>
	<complexType name = "resources" >
		<sequence>
			<element name = "resource" type = "aa:resource" minOccurs = "0" maxOccurs = "unbounded"/>
		</sequence>
	</complexType>
	<complexType name = "resource" >
		<sequence>
      <element name = "name" type = "string" />
			<element name = "testSummaries" type = "aa:testSummaries"/>
		</sequence>
	</complexType>
	<complexType name = "testSummaries">
		<sequence>
			<element name = "testSummary" type = "aa:testSummary" minOccurs = "0" maxOccurs = "unbounded"/>
		</sequence>
	</complexType>
	<complexType name = "testSummary">
		<sequence>
			<element name = "name" type = "string"/>
			<element name = "numSuccesses" type = "integer"/>
			<element name = "numAtFaultFailures" type = "integer"/>
			<element name = "numNotAtFaultFailures" type = "integer"/>
			<element name = "failures" type = "aa:failures"/>
		</sequence>
	</complexType>
	<complexType name = "failures">
		<sequence>
			<element name = "failure" type = "aa:failure" minOccurs = "0" maxOccurs = "unbounded"/>
		</sequence>
	</complexType>
	<complexType name = "failure">
		<sequence>
			<element name = "nickname" type = "string"/>
			<element name = "instanceId" type = "long"/>
			<element name = "seriesConfigId" type = "long"/>
		</sequence>
	</complexType>
</schema>
