docs/src/schemas/gridconfig.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:element name = "grid">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "variable" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "site" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "variable">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "name"/>
				<xsd:element ref = "value" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "site">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "variable" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "resource" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "resource">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "variable" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "name">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name = "value">
		<xsd:complexType/>
	</xsd:element>
</xsd:schema>