docs/src/schemas/incaCommon.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://inca.sdsc.edu/util_1.0"
	 xmlns:inca = "http://inca.sdsc.edu/util_1.0"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<!-- a reporter series is a generic defition of the same concept from the depot.  
		it describes all the necessary information that will make a series unique in the
		database with one exception.  We leave out the url of the machine that it is being
		executed on.   or actually we make it optional.  If a document arrives at the depot
		with this info missing there will be an error -->
	
	<element name = "reporterSeries">
		<complexType>
			<sequence>
				<element ref = "inca:uri"/>
				<element ref = "inca:args" maxOccurs = "unbounded"/>
				<element ref = "inca:timeout"/>
				<element ref = "inca:setup" minOccurs = "0"/>
				<element ref = "inca:cleanup" minOccurs = "0"/>
				<element ref = "inca:hostname" minOccurs = "0"/>
			</sequence>
		</complexType>
	</element>
	<element name = "uri" type = "anyURI"/>
	<element name = "setup" type = "string"/>
	<element name = "cleanup" type = "string"/>
	<element name = "hostname" type = "string"/>
	
	<!-- inputs describe the input parameters to a reporter -->
	
	<element name = "args">
		<complexType>
			<sequence>
				<element ref = "inca:arg" maxOccurs = "unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name = "arg">
		<complexType>
			<sequence>
				<element ref = "inca:name"/>
				<element ref = "inca:value"/>
			</sequence>
		</complexType>
	</element>
	<element name = "name" type = "string"/>
	<element name = "value" type = "string"/>
	
	<!-- timout is used to express the ways that the reporter manager monitors the reporters -->
	
	<element name = "timeout">
		<complexType>
			<sequence>
				<element name = "wallClockTime" type = "integer"/>
				<element name = "memory" type = "integer"/>
				<element name = "cpuTime" type = "integer"/>
			</sequence>
		</complexType>
	</element>
	
	<!-- A schedule describes to the RM how often to run a reporter -->
	
	<element name = "schedule">
		<complexType>
			<sequence>
				<element ref = "inca:cron"/>
			</sequence>
		</complexType>
	</element>
	<element name = "cron">
		<complexType>
			<sequence>
				<element name = "min" type = "string"/>
				<element name = "hour" type = "string"/>
				<element name = "mday" type = "string"/>
				<element name = "wday" type = "string"/>
				<element name = "month" type = "string"/>
				<element name = "numOccurs" type = "integer" minOccurs = "0"/>
			</sequence>
		</complexType>
	</element>
	
	<!-- a resource set is used to describe a set or resources - this can be done by a list of hostnames or
		it can be done by using xpath on the configuration files -->
	
	<element name = "resourceSet">
		<complexType>
			<sequence>
				<element name = "name" type = "string"/>
				<choice>
					<element name = "xpath" type = "string"/>
					<element name = "hostname" type = "string" maxOccurs = "unbounded"/>
				</choice>
			</sequence>
		</complexType>
	</element>
	<element name = "acceptedOutput">
		<complexType>
			<sequence>
				<element ref = "inca:body" minOccurs = "0"/>
				<element ref = "inca:exitMessage" minOccurs = "0"/>
				<element ref = "inca:exitStatus" minOccurs = "0"/>
			</sequence>
		</complexType>
	</element>
	<element name = "body"/>
	<element name = "exitMessage" type = "string"/>
	<element name = "exitStatus" type = "boolean"/>
</schema>