docs/src/schemas/queryStore.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
   targetNamespace = "http://inca.sdsc.edu/dataModel/queryStore_2.0"
   xmlns:qs = "http://inca.sdsc.edu/dataModel/queryStore_2.0"
   xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
   elementFormDefault = "unqualified">
  <element name = "queryStore">
    <complexType>
      <sequence>
        <element name = "query" type = "qs:query" maxOccurs = "unbounded"/>
      </sequence>
    </complexType>
  </element>
  <complexType name = "query">
    <sequence>
      <element name = "name" type = "string"/>
      <element name = "hql" type = "string"/>
      <element name = "cache" type = "qs:cache" minOccurs = "0"/>
    </sequence>
  </complexType>
  <complexType name = "cache">
    <sequence>
      <element name = "reloadPeriod" type = "float"/>
      <element name = "lastLoadedAt" type = "dateTime"/>
      <element name = "lastLoadedTime" type = "float"/>
    </sequence>
  </complexType>
</schema>
