docs/src/schemas/reporter.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:element name = "INCA_Reporter">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "INCA_Version"/>
				<xsd:element ref = "localtime"/>
				<xsd:element ref = "gmt"/>
				<xsd:element ref = "ipaddr"/>
				<xsd:element ref = "hostname"/>
				<xsd:element ref = "uname"/>
				<xsd:element ref = "url"/>
				<xsd:element ref = "name"/>
				<xsd:element ref = "description"/>
				<xsd:element ref = "version"/>
				<xsd:element ref = "INCA_Input"/>
				<xsd:element ref = "body"/>
				<xsd:element ref = "exit_status"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "gmt" type = "xsd:string"/>
	<xsd:element name = "hostname" type = "xsd:string"/>
	<xsd:element name = "ipaddr" type = "xsd:string"/>
	<xsd:element name = "url" type = "xsd:string"/>
	<xsd:element name = "name" type = "xsd:string"/>
	<xsd:element name = "version" type = "xsd:string"/>
	<xsd:element name = "INCA_Version" type = "xsd:string"/>
	<xsd:element name = "exit_status" nillable = "true" fixed = "0">
		<xsd:complexType mixed = "true">
			<xsd:choice>
				<xsd:element ref = "message" minOccurs = "0"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "message" type = "xsd:string"/>
	<xsd:element name = "body" abstract = "true"/>
	<xsd:element name = "ID" type = "xsd:string"/>
	<xsd:element name = "INCA_Input">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "input" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "input"/>
	<xsd:element name = "verbose" type = "xsd:integer" substitutionGroup = "input"/>
	<xsd:element name = "help" substitutionGroup = "input">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:enumeration value = "yes"/>
				<xsd:enumeration value = "no"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
</xsd:schema>