docs/src/schemas/reporter.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema
    targetNamespace="http://inca.sdsc.edu/report_2.0"
    xmlns:rep = "http://inca.sdsc.edu/report_2.0"
    xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
    elementFormDefault = "qualified">
    <xsd:element name = "report">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref = "rep:gmt"/>
                <xsd:element ref = "rep:hostname"/>
                <xsd:element ref = "rep:name"/>
                <xsd:element ref = "rep:version"/>
                <xsd:element ref = "rep:inputs"/>
                <xsd:element ref = "rep:log"/>
                <xsd:element ref = "rep:body"/>
                <xsd:element ref = "rep:exit_status"/>
                <xsd:element ref = "rep:help"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name = "inputs">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref = "rep:input" minOccurs = "0" maxOccurs = "unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name = "input">
        <xsd:complexType>
            <xsd:all>
                <xsd:element ref="rep:name"/>
                <xsd:element ref="rep:value"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name = "log">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref = "rep:debug" minOccurs = "0" maxOccurs = "unbounded"/>
                <xsd:element ref = "rep:error" minOccurs = "0" maxOccurs = "unbounded"/>
                <xsd:element ref = "rep:info" minOccurs = "0" maxOccurs = "unbounded"/>
                <xsd:element ref = "rep:system" minOccurs = "0" maxOccurs = "unbounded"/>
                <xsd:element ref = "rep:warn" minOccurs = "0" maxOccurs = "unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name = "debug">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref = "rep:gmt"/>
                <xsd:element ref = "rep:message"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name = "error">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref = "rep:gmt"/>
                <xsd:element ref = "rep:message"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name = "info">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref = "rep:gmt"/>
                <xsd:element ref = "rep:message"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name = "system">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref = "rep:gmt"/>
                <xsd:element ref = "rep:message"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name = "warn">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref = "rep:gmt"/>
                <xsd:element ref = "rep:message"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name = "body" abstract = "true"/>

    <xsd:element name = "exit_status">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref ="rep:completed"/>
                <xsd:element ref ="rep:error_message" minOccurs = "0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name = "help" nillable="true">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref ="rep:ID"/>
                <xsd:element ref ="rep:executable"/>
                <xsd:element ref ="rep:option" minOccurs = "0" maxOccurs = "unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name = "option">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref ="rep:ID"/>
                <xsd:element ref ="rep:accepted"/>
                <xsd:element ref ="rep:description"/>
                <xsd:element ref ="rep:default" minOccurs = "0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name = "accepted" type = "xsd:string"/>
    <xsd:element name = "completed" type = "xsd:boolean"/>
    <xsd:element name = "default" type = "xsd:string"/>
    <xsd:element name = "description" type = "xsd:string"/>
    <xsd:element name = "error_message" type = "xsd:string"/>
    <xsd:element name = "executable" type = "xsd:string"/>
    <xsd:element name = "gmt" type = "xsd:dateTime"/>
    <xsd:element name = "hostname" type = "xsd:string"/>
    <xsd:element name = "ID" type = "xsd:string"/>
    <xsd:element name = "message" type = "xsd:string"/>
    <xsd:element name = "name" type = "xsd:string"/>
    <xsd:element name = "version" type = "xsd:string"/>
    <xsd:element name = "value" type = "xsd:string"/>

</xsd:schema>
