docs/src/schemas/reportDetails.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
        targetNamespace = "http://inca.sdsc.edu/queryResult/reportDetails_2.0"
        xmlns:res = "http://inca.sdsc.edu/queryResult/reportDetails_2.0"
        xmlns:inca = "http://inca.sdsc.edu/dataModel/util_2.0"
        xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
        elementFormDefault = "unqualified">
  <import namespace = "http://inca.sdsc.edu/dataModel/util_2.0"/>
  <element name = "reportDetails" type="res:reportDetails"/>
  <complexType name="reportDetails">
    <sequence>
      <element name = "suiteId" type = "long"/>
      <element name = "seriesConfigId" type = "long"/>
      <element name = "seriesId" type = "long"/>
      <element name = "reportId" type = "long"/>
      <element name = "instanceId" type = "long"/>
      <element name = "seriesConfig" type = "inca:seriesConfig"/>
      <element name = "report" type = "inca:report"/>
      <element name = "comparisonResult" type = "string" minOccurs = "0"/>
      <element name = "sysusage" type = "inca:limits"/>
      <element name = "stderr" type = "string" minOccurs = "0"/>
    </sequence>
  </complexType>
</schema>