docs/src/schemas/reporter.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema
    targetNamespace="http://inca.sdsc.edu/report"
    xmlns:rep = "http://inca.sdsc.edu/report"
    xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:element name = "report">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "rep:INCA_Version"/>
				<xsd:element ref = "rep:gmt"/>
				<xsd:element ref = "rep:hostname"/>
				<xsd:element ref = "rep:name"/>
				<xsd:element ref = "rep:version"/>
				<xsd:element ref = "rep:inputs"/>
				<xsd:element ref = "rep:body"/>
				<xsd:element ref = "rep:exit_status"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

    <xsd:element name = "exit_status" nillable = "true" fixed = "0">
		<xsd:complexType mixed = "true">
			<xsd:choice>
				<xsd:element ref = "rep:message" minOccurs = "0"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>

    	<xsd:element name = "inputs">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "rep:input" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
    	<xsd:element name = "input">
        <xsd:complexType>
            <xsd:all>
                <xsd:element ref="rep:key"/>
                <xsd:element ref="rep:value"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>

	<xsd:element name = "gmt" type = "xsd:string"/>
	<xsd:element name = "hostname" type = "xsd:string"/>
	<xsd:element name = "name" type = "xsd:string"/>
	<xsd:element name = "version" type = "xsd:string"/>
	<xsd:element name = "INCA_Version" type = "xsd:string"/>

	<xsd:element name = "message" type = "xsd:string"/>
	<xsd:element name = "body" abstract = "true"/>
	<xsd:element name = "ID" type = "xsd:string"/>
    <xsd:element name="key" type="xsd:string"/>
    <xsd:element name="value"/>

</xsd:schema>
