docs/src/schemas/reportDetails.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://inca.sdsc.edu/queryResult/reportDetails_2.0"
	 xmlns:res = "http://inca.sdsc.edu/queryResult/reportDetails_2.0"
	 xmlns:inca = "http://inca.sdsc.edu/dataModel/util_2.0"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "unqualified">
	<import namespace = "http://inca.sdsc.edu/dataModel/util_2.0"/>
	<element name = "reportDetails">
		<complexType>
			<sequence>
				<element name = "suiteId" type = "long"/>
				<element name = "seriesConfigId" type = "long"/>
				<element name = "seriesId" type = "long"/>
				<element name = "reportId" type = "long"/>
				<element name = "instanceId" type = "long"/>
				<element name = "series" type = "inca:series"/>
				<element name = "schedule" type = "inca:schedule"/>
				<element name = "report" type = "inca:report"/>
				<element name = "comparisonResult" type = "string"/>
				<element name = "sysusage" type = "inca:timeout"/>
				<element name = "stderr" type = "string" minOccurs = "0"/>
			</sequence>
		</complexType>
	</element>
</schema>
