docs/src/schemas/subscription.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://inca.sdsc.edu/dataModel/subscription_2.0"
	 xmlns:sub = "http://inca.sdsc.edu/dataModel/subscription_2.0"
	 xmlns:inca = "http://inca.sdsc.edu/dataModel/util_2.0"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "unqualified">
	<import namespace = "http://inca.sdsc.edu/dataModel/util_2.0"/>
	<element name = "subscription">
		<complexType>
			<sequence>
				<element ref = "sub:type"/>
				<element ref = "sub:reporterGroup" maxOccurs = "unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name = "type" type = "string"/>
	<element name = "reporterGroup">
		<complexType>
			<sequence>
				<element ref = "sub:scheduler" minOccurs = "0"/>
				<element name = "reporter" type = "inca:reportSeries"/>
			</sequence>
		</complexType>
	</element>
	<element name = "scheduler">
		<complexType>
			<choice>
				<element ref = "sub:sequential"/>
        <element name = "cron" type = "inca:cron"/>
			</choice>
		</complexType>
	</element>
	<element name = "name" type = "string"/>
	<element name = "value" type = "string"/>
	<element name = "resource">
		<complexType>
			<sequence>
				<element ref = "sub:name"/>
				<element ref = "sub:value"/>
			</sequence>
		</complexType>
	</element>
	<element name = "hours" type = "positiveInteger"/>
	<element name = "dayOfMonth" type = "positiveInteger"/>
	<element name = "months" type = "string"/>
	<element name = "dayOfWeek" type = "string"/>
	<element name = "minutes" type = "positiveInteger"/>
	<element name = "sequential">
		<complexType/>
	</element>
</schema>
