docs/src/schemas/suite.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://inca.sdsc.edu/suite_1.0"
	 xmlns:st = "http://inca.sdsc.edu/suite_1.0"
	 xmlns:inca = "http://inca.sdsc.edu/util_1.0"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<import namespace = "http://inca.sdsc.edu/util_1.0"/>
	<element name = "suite">
		<complexType>
			<sequence>
				<element ref = "st:reporterSetConfigs"/>
				<element ref = "st:resourceSets"/>
				<element name = "name" type = "string"/>
				<element name = "guid" type = "string"/>
				<element name = "description" type = "string"/>
				<element name = "version" type = "string" minOccurs = "0"/>
			</sequence>
		</complexType>
	</element>
	<element name = "reporterSetConfigs">
		<complexType>
			<sequence>
				<element ref = "st:reporterSetConfig" maxOccurs = "unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name = "reporterSetConfig">
		<complexType>
			<sequence>
				<element ref = "inca:reporterSeries"/>
				<choice>
					<element name = "resourceSetName" type = "string"/>
					<element ref = "st:resourceXpath"/>
					<element ref = "st:resourceHostname" maxOccurs = "unbounded"/>
				</choice>
				<element ref = "inca:schedule"/>
				<element ref = "inca:acceptedOutput" minOccurs = "0"/>
			</sequence>
		</complexType>
	</element>
	<element name = "resourceSets">
		<complexType>
			<sequence>
				<element ref = "inca:resourceSet" maxOccurs = "unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name = "resourceXpath" type = "string"/>
	<element name = "resourceHostname" type = "string"/>
</schema>