docs/src/schemas/suite.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:element name = "suite">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "resources"/>
				<xsd:element ref = "dataset"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "resourceGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "id"/>
				<xsd:element ref = "resourceGroupId" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "resource" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name = "host">
		<xsd:restriction base = "xsd:string"/>
	</xsd:simpleType>
	<xsd:element name = "id" type = "xsd:string"/>
	<xsd:element name = "resource">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "id"/>
				<xsd:element ref = "attributes" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "data">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "reporter"/>
				<xsd:element ref = "inputs"/>
				<xsd:element ref = "frequency"/>
				<xsd:element ref = "archive"/>
				<xsd:element ref = "acceptedValues"/>
				<xsd:element ref = "execType"/>
				<xsd:element ref = "resourceGroupId"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "reporter" type = "xsd:string"/>
	<xsd:element name = "dataset">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "data" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "inputs" type = "xsd:string"/>
	<xsd:element name = "archive" type = "xsd:string"/>
	<xsd:element name = "acceptedValues" type = "xsd:string"/>
	<xsd:element name = "execType" type = "xsd:string"/>
	<xsd:element name = "attributes">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "attribute" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "attribute">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "id"/>
				<xsd:element ref = "value"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "value" type = "xsd:string"/>
	<xsd:element name = "resources">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "resourceGroup" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "resourceGroupId" type = "xsd:string"/>
	<xsd:element name = "frequency" type = "xsd:string"/>
</xsd:schema>